<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head >
  <body>
  <A HREF = http://localhost:3000>Índice</A>
    <h1><%= title %></h1>
    <p>Los autores son: </p>
    <img src="http://wpc.72c72.betacdn.net/8072C72/lvi-images/sites/default/files/styles/landscape_1020_560/public/nota_periodistica/female-emoji.jpg">
    <p>Virginia Blanco Rávena </p>
    <img src="http://wpc.72c72.betacdn.net/8072C72/lvi-images/sites/default/files/styles/landscape_1020_560/public/nota_periodistica/female-emoji.jpg">
    <p>Andrea Pérez Isla </p>
  </body>
</html>
