<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<A HREF = http://localhost:3000/credits>Créditos</A>
<A HREF = http://localhost:3000/quizzes/index>Quizzes</A>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
</body>
</html>
